body{
	text-align:center;
}
.inp{
	width:100px;
	height:100px;
}
.bt{
	width:80px;
	height:40px;
	font-size:30px;
	background-color:#556aad;
	border:none;
	border-radius:25px;

}
.op{
	font-size:30px;
}
#res{
	font-size:30px;
}
